<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>    <!-- CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/default.css")">

    <!-- jQuery -->
    <script src="@Url.Content("~/Content/jquery/jQuery-2.1.3.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery UI -->
    <script src="@Url.Content("~/Content/jqueryUI/jquery-ui.1.11.2.min.js")"></script>
    <!-- Font Awesome Icons -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="@Url.Content("~/Content/ionicons/css/ionicons.min.css")" rel="stylesheet" type="text/css" />
    <!-- AdminLTE -->
    <script src="@Url.Content("~/Content/AdminLTE/js/app.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/AdminLTE/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/AdminLTE/css/skins/_all-skins.min.css")" rel="stylesheet" type="text/css" />
    <!-- iCheck 1.0.1 -->
    <script src="@Url.Content("~/Content/plugins/iCheck/icheck.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/plugins/iCheck/all.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        //iCheck for checkbox and radio inputs
        $(function () {
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        });
    </script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/plugins/slimScroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='@Url.Content("~/Content/plugins/fastclick/fastclick.min.js")'></script>
    <!-- Toastr -->
    <script src="@Url.Content("~/Content/plugins/toastr/toastr.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/toastr/toastr.css")">
    <script type="text/javascript">
        //alert override
        window.alert = function (msg, type) {
            if (type == "success") {
                toastr.success(msg, "Success");
            }
            else if (type == "warning") {
                toastr.warning(msg, "Warning");
            }
            else if (type == "error") {
                toastr.error(msg, "Error");
            }
            else {
                toastr.info(msg, "Info");
            }
        }
    </script>

    <!-- Jquery Validation -->
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //tooltip for validation
        $(function () {
            $(document).tooltip({
                items: ".input-validation-error",
                content: function () {
                    var validationtxt = "";
                    if ($(this).val() == "") {
                        validationtxt = $(this).attr('data-val-required');
                    }
                    else {
                        if ($(this).attr('data-val-length') != undefined) {
                            validationtxt = $(this).attr('data-val-length')
                        }
                        else if ($(this).attr('data-val-equalto') != undefined) {
                            validationtxt = $(this).attr('data-val-equalto')
                        }
                        else if ($(this).attr('data-val-regex') != undefined) {
                            validationtxt = $(this).attr('data-val-regex')
                        }
                    }
                    return validationtxt;
                },
                position: {
                    my: "center bottom-8",
                    at: "center top",
                    using: function (position, feedback) {
                        $(this).css(position);
                        $("<div>")
                            .addClass("arrow")
                            .addClass(feedback.vertical)
                            .addClass(feedback.horizontal)
                            .appendTo(this);
                    }
                }
            });
        });
    </script>
</head>
<body class="login-page">
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            alert("@Html.Raw(TempData["Message"])");
        </script>
    }
    
    @RenderBody()
</body>
</html>