<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/Store/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Store/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Store/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/Store/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- countdown -->
    <link rel="stylesheet" href="~/Content/Store/css/jquery.countdown.css" />
    <!-- //countdown -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/Store/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- jquery mask -->
    <script src="~/Content/jquery.mask/jquery.mask.min.js"></script>

    <!-- Font Awesome Icons -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <!-- Socicon -->
    <link href="@Url.Content("~/Content/socicon/styles.css")" rel="stylesheet" type="text/css" />
    <!-- Font mFizz -->
    <link href="@Url.Content("~/Content/font-mfizz/font-mfizz.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        @RenderBody()
    </section>
</body>
</html>